body{
    margin:0;
    padding:0;
}
#navbar{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
}
#navbar > div{
    border: 0px solid blue;
}
#navbar > div:nth-child(1){
          display: flex;

}
#navbar > div:nth-child(1)> div >  img{
    width: 80%;
} 
#navbar > div:nth-child(2){
    display: flex;
    justify-content:space-between;
    background-color:#0076bd;
    color: white;
    font-size: 16px;
    
}
#navbar > div:nth-child(2)>.para{
    margin-right: 50px;
    margin-top: 10px;
}
#navbar > div:nth-child(2)>.para>div:last-child{
    font-weight: bold;
}
#navbar > div:nth-child(2)>div{
    display: flex;
}
#navbar>.search{
    border: 0px solid red;
    width: 100%;
    height: 100px;
    display: flex;    
}
#navbar>.search>img{
    width:7%;
    margin-left: 20px;
}
.searchbar{
    border: 0px solid red;
    display: flex;
}
#navbar>.search>.searchbar{
    margin-left: 20px;
    margin-top: 30px;
}
#navbar>.search>.searchbar>input{
    width:300px;
    height: 39px;
}
#navbar>.search>.searchbar>button{
    width:100px;
    height: 39px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#003953;
    color: white;
    border: none;
    font-weight: bold;
}

.cartbtn>button{
     margin-left: 700px;
     margin-top: 30px;
     width:120px;
     height: 39px;
     background-color: white;
     border: 1px solid rgb(34, 235, 34);
     border-radius: 5px;
     font-weight: bold;
}
.cartbtn>button:hover{
    background-color: rgb(143, 238, 143);
}
#navbar>.search>.searchbar>button:hover{
    background-color: rgb(23, 23, 246);
}

#navbar> #options{
    border: 0px solid red;
    width:100%;
    height: 50px;
    display: flex;
    background-color: rgb(244, 244, 244);
}
#navbar>#options>div{
    display: flex;
    gap: 30px;
    margin-left: 30px;

}
#options>div>div{
    border: 0px solid green;
    height: 80%;
    margin-top: 15px;
    color: #003953;
    font: 600 16px Open Sans,sans-serif;
}
#options>a{
    margin-left: 40%;
    margin-top: 15px;
    text-decoration: none;
    color: #003953;
    font: 600 16px Open Sans,sans-serif;
}

#container{
    text-align: center;
    background-color: #b3d4fc;
    height: 30px;
    font-weight: bold;
    padding-top: 5px;
}
.item-1, 
.item-2, 
.item-3, 
.item-4{
  position: absolute;
  display: block;
  
  width: 45%;
  
  font-size: 1em;

  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.item-1{
    animation-name: anim-1;
  }
  
  .item-2{
    animation-name: anim-2;
  }
  
  .item-3{
    animation-name: anim-3;
  }
  .item-4{
    animation-name:anim-4;
  }
  @keyframes anim-1 {
    0%, 8.3% { right: -100%; opacity: 0; }
    8.3%,25% { right: 25%; opacity: 1; }
    33.33%, 100% { right: 110%; opacity: 0; }
  }
  
  @keyframes anim-2 {
    0%, 33.33% { right: -100%; opacity: 0; }
    41.63%, 58.29% { right: 25%; opacity: 1; }
    66.66%, 100% { right: 110%; opacity: 0; }
  }
  
  @keyframes anim-3 {
    0%, 66.66% { right: -100%; opacity: 0; }
    74.96%, 91.62% { right: 25%; opacity: 1; }
     100% { right: 110%; opacity: 0; }
  }
  
#poster{
    margin-left: 50px;
    margin-right: 50px;
}
#poster>img{
    width:100%;
}
#saleheading{
    margin-left: 80px;
    margin-top: 10%;
    font-weight: bold;
}
#shoppingOptn{
    width:90%;
    border: 0px solid red;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,300px);
    gap: 1%;
}
#shoppingOptn > div{
    border: 0px solid blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#shoppingOptn > div > div > img{
    width:100%;
    height: 250px;
}
.chappal{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 4%;
}
#shoppingOptn > div>a{
    color: black;
} 
.womenclothes{
    margin-top: 20px;
}
#shoppingOptn > div>a:hover{
    color: blue;
}

#SaleOptn{
    width:90%;
    height: auto;
    border: 0px solid black;
    display: flex;
    margin: auto;
    margin-top: 80px;
    gap: 20px;

}
#SaleOptn>div{
 border: 0px solid blue;
 width: 35%;
 height:95%;
 text-align: center;
}
#SaleOptn>div>img{
    width:100%;
}
#SaleOptn>div>h3{
    font-weight: 100;
    color: black;
}
#SaleOptn>div>a{
    color: #003953;
    font: 600 16px Open Sans,sans-serif;
}
#partyposter{
    margin-top: 50px;
   border: 0px solid red;
   width: 92%;
   margin: auto;
   margin-top: 40px;
   margin-left: 80px;
}
#partyposter>img{
 width: 100%;
}

#shoesOptn{
    width:90%;
    height: auto;
    border: 0px solid red;
    display: flex;
    gap: 20px;
    margin: auto;
    line-height: 70%;
    margin-top: 70px;
}
#shoesOptn>div{
    width: 30%;
    border: 0px solid blue;
   
    background-color: rgb(255, 250, 250);
}    
#shoesOptn>div>img{
    width: 100%;
}
#shoesOptn>div>.shoe{
    padding-top:20%;
    padding-bottom: 60%;
}
.price{
    color: red;
}
.doller{
    font-size: 12px;
}
#shoesOptn>div>p{
    color: black;
}
.moab{
    font-weight: bold;
}
#shoesOptn>div>h2{
    color: black;
}

#shoesAd{
    width: 90%;
    height: 600px;
    border: 0px solid red;
    display: flex;
    margin: auto;
    margin-top: 20px;
   align-items: center;
}
#shoesAd>div{
    width: 70%;
    height: 90%;
    border: 0px solid blue;
    text-align: center;

}
#shoesAd>img{
    width: 70%;
    height: 90%;
}
#shoesAd>div>div{
    border: 0px solid black;
    margin-top: 50%;
    color: black;
}
#shoesAd>div>div>button{
    margin-top: 5px;
    padding: 15px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 8px;
}
#shoesAd>div>div>div>h3{
    width: 85%;
    font-size:30px;
    margin-left: 20px;
}


#styleroom{
    width: 90%;
    height: 600px;
    border: 0px solid red;
    display: flex;
    margin: auto;
    margin-top: 20px;
   align-items: center;
}
#styleroom>div{
    width: 70%;
    height: 90%;
    border: 0px solid blue;

}
#styleroom>img{
    width: 70%;
    height: 90%;
}
#styleroom>div>div{
    border: 0px solid black;
    margin-top: 50%;
    color: black;
    margin-left: 30px;
}
#styleroom>div>div>button{
    margin-top: 5px;
    padding: 15px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 8px;
}
#schoolproduct{
    width:95%;
    height: 800px;
    border: 0px solid red;
    display: flex;
    margin: auto;
}
#schoolproduct>.div1{
    width: 30%;
    border: px solid blue;
    margin: auto;
}
.img{
    width: 95%;
    height: 80%;
    border: 0px solid brown;
    margin-top: 20px;
}
.img>img{
    width: 100%;
}
.div1>button{

    margin-top: 5px;
    padding: 15px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 8px;
}
#schoolproduct>.schoolproductOptn{
    width:65%;
    height:98%;
    border: 0px solid green;
}
.schoolproductOptn>.box1{
    width:100%;
    height: 50%;
    border: 0px solid black;
    display: flex;
    gap: 20px;
}
.schoolproductOptn>.box2{
    width:100%;
    height: 50%;
    border: 0px solid black;
    display: flex;
    gap:20px;
}
.schoolproductOptn>.box1>div{
    width:30%;
    height: 90%;
    border: 0px solid blue;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.schoolproductOptn>.box2>div{
    width:30%;
    height: 95%;
    border: 0px solid blue;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.schoolproductOptn>.box1>div>img{
    width: 100%;
}
.pants{
    height: 72%;
}
.puma{
    height:78%;
}
.nativeshoe{
    height: 72%;
}
.box1>div{
    line-height: 10px;
}
.schoolproductOptn>.box2>div>img{
    width: 100%;
}
.USAcrew{
    height:70%;
}
.schoolbag{
    height: 70%;
}
.pumaprice{
    color: red;
}
#footer1{
    width: 100%;
    height: 150px;
    border: 0px solid red;
    background-color: rgb(3, 44, 72);
    color: white;
    padding: 8px;
}
.email{
    display: flex;
    border: 0px solid brown;
    gap: 10px;
}
.email>div>input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
.email>div{
   border: 0px solid blue;
   gap: 10px;
}
.email>div:last-child>button{
    height: 50px;
    margin-top: 30px;
    background-color: rgb(3, 44, 72);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
}
.email>div:last-child>button:hover{
    color: black;
    background-color: white;
}

#footer2{
    height: 600px;
    border: 0px solid green;
    display: flex;
    background-color: #003953;
}
#footer2>div{
    width:20%;
    height: 95%;
    border: 0px solid blue;
    color: white;
    margin: auto;
    text-decoration: none;
}
#footer2>a>h4{
    font-weight: bold;
}
.footerbox{
    margin-top: 30px;
}
.footerbox>a{
    color: white;
}
#feedback{
    background-color: #144860;
    padding: 3%;
}
#feedback>h4{
    font-weight: bold;
}
#feedback>a{
    color: white;
}
#feedback>button{
    height: 50px;
    background-color: rgb(3, 44, 72);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
}
#feedback>button:hover{
    color: black;
    background-color: white;
}
#connectwithus{
  border: 1px solid black;

}
#connectwithus>div>div{
          border: 0px solid blue;
}
.footerbox1>a{
    color: white;
};

    .container{
      max-width: 1280px;
      margin: 0 auto;
      height: 80%;
    }
    .swiper-container {
        width: 100%;
        height:100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
     .slider-img{
        width:200px;
        height:150px;
     }      

     .slider-div{
        width:150px;
        height:300px;
     }
     .slider-content{
        text-align: left;
        line-height: 20px;
     }
     .slider-brand>img{
            height: 200px;
            width: 150px;
     }
     .brandname{
        text-align: center;
     }

     .brand-img>img{
        width: 200px;
         height: 250px;

     }