#container{
    width:50%;
    height: 700px;
    border: 0px solid red;
    margin: auto;
}
#container>div{
    width: 45%;
    border: 1px solid black;
    margin: auto;
    padding: 1%;
}
#container>div>div>input{
         width: 80%;
         height: 25px;
         border-radius: 4px;
}
#container>div>button{
    background-color:rgb(3, 44, 72);
    color: white;
    width: 82%;
   padding: 2%;
    margin-top: 15px;
    border-radius: 5px;
}
#container>div>div{
    margin-top: 0px;
}
#container>img{
    border: 0px solid red;
    margin-left: 40%;
}